<div class="root">
  <div class="header">
    <button style="align-self: flex-end; flex: 1;" (click)=toggleChat()>Click</button>
  </div>
  <div class="content">
    <div class="videos">
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
      <div class="video"></div>
    </div>
    <div class="chatArea" *ngIf="showChat">
      chat content
    </div>
  </div>
</div>